body {
    font-family: 'Noto Sans KR';
}

code {
    font-family: 'Nanum Gothic Coding';
}

.header-text {
    font-family: 'Noto Sans KR';
    text-align: center;
}

.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

table,
th,
td {
    border: 1px solid black;
}